<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
 
	<http pattern="/index.jsp" security="none" /> 
 
 	<!-- access-denied-page 无权限访问所跳转的页面 -->
 	<http use-expressions="true" entry-point-ref="authenticationProcessingFilterEntryPoint">
 	
 		<!-- 防止用户重复登录 -->
 		<session-management invalid-session-url="/timeout.jsp">
 			<concurrency-control max-sessions="1" error-if-maximum-exceeded="true"/>
 		</session-management>
 		
 		<custom-filter ref="loginFilter" position="FORM_LOGIN_FILTER" />
 		<custom-filter ref="securityFilter" before="FILTER_SECURITY_INTERCEPTOR"/>
 		
 		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
 	</http>
 	
 	<!-- 未登录的切入点 -->
 	<beans:bean id="authenticationProcessingFilterEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
 		<beans:property name="loginFormUrl" value="/index.jsp" />
 	</beans:bean>
 	
 	<!-- 登录验证器 -->
 	<beans:bean id="loginFilter" class="com.laozhang.struts2.security.MyUsernamePasswordAuthenticationFilter">
 		<beans:property name="filterProcessesUrl" value="/j_spring_security_check"></beans:property>
 		<beans:property name="authenticationSuccessHandler" ref="loginLogAuthenticationSuccessHandler"></beans:property>
 		<beans:property name="authenticationFailureHandler" ref="simpleUrlAuthenticationFailureHandler"></beans:property>
 		<beans:property name="authenticationManager" ref="myAuthenticationManager"></beans:property>
 		
 		<beans:property name="userManageDao" ref="userManageDao"></beans:property>
 	</beans:bean>
 	
 	<beans:bean id="loginLogAuthenticationSuccessHandler"
 			class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
 		<beans:property name="defaultTargetUrl" value="/welcome.jsp"></beans:property>
 	</beans:bean>
 	
 	<beans:bean id="simpleUrlAuthenticationFailureHandler"
 			class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
 		<beans:property name="defaultFailureUrl" value="/index.jsp"></beans:property>
 	</beans:bean>
 	
 	<!-- 认证过滤器 -->
 	<beans:bean id="securityFilter" class="com.laozhang.struts2.security.MySecurityFilter">
 		<!-- 用户拥有的权限 -->
    	<beans:property name="authenticationManager" ref="myAuthenticationManager" />
    	<!-- 用户是否拥有所请求资源的权限 -->
    	<beans:property name="accessDecisionManager" ref="myAccessDecisionManager" />
    	<!-- 资源与权限对应关系 -->
    	<beans:property name="securityMetadataSource" ref="mySecurityMetadataSource" />
 	</beans:bean>
 	
 	<!-- 实现了UserDetailsService的Bean -->
 	<authentication-manager alias="myAuthenticationManager" erase-credentials="false">
 		<authentication-provider user-service-ref="myUserDetailServiceImpl">
 			<!-- 密码加密方式 -->
 			<password-encoder hash="md5" base64="true" />
 		</authentication-provider>
 	</authentication-manager>
 	
 	<beans:bean id="myUserDetailServiceImpl" class="com.laozhang.struts2.security.MyUserDetailServiceImpl">
 		<beans:property name="userManageDao" ref="userManageDao" />
 	</beans:bean>
 	
 	<beans:bean id="myAccessDecisionManager" class="com.laozhang.struts2.security.MyAccessDecisionManager">
 	</beans:bean>
 	
 	<beans:bean id="mySecurityMetadataSource" class="com.laozhang.struts2.security.MySecurityMetadataSource">
 		<beans:constructor-arg name="userManageDao" ref="userManageDao"></beans:constructor-arg>
 	</beans:bean>
 
</beans:beans>