<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd">
     
     <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
     	<property name="dataSource"><ref bean="dataSource" /></property>
     	<property name="mappingResources">
     		<list>
     			<value>com/laozhang/struts2/admin/model/RelUserRole.hbm.xml</value>
     			<value>com/laozhang/struts2/admin/model/RoleInfo.hbm.xml</value>
     			<value>com/laozhang/struts2/admin/model/UserInfo.hbm.xml</value>
     		</list>
     	</property>
     	<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</prop>
			</props>
		</property>
     </bean>
     
     <bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation">
			<value>/WEB-INF/config/sqlmap/sql-map-config.xml</value>
		</property>
	</bean>
	
	<bean id="baseDao" class="com.laozhang.struts2.base.dao.impl.BaseDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="userManageDao" parent="baseDao" class="com.laozhang.struts2.admin.dao.impl.UserManageDaoImpl" />
     
</beans>